.success-snackbar {
    background-color: #4caf50; /* Green for success */
    color: #fff;
}
  
.error-snackbar {
    background-color: #f44336; /* Red for error */
    color: #fff;
}

.info-snackbar {
    background-color: #2196f3; /* Blue for info */
    color: #fff;
}